# Системные файлы
.DS_Store
Thumbs.db

# Локальные конфиги
.env
.env.backup
.env.production
.env.local
.env.testing

# Логи и кэш
*.log
.phpunit.result.cache
.phpunit.cache
/storage/pail

# IDE и редакторы
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json

# Laravel
/vendor
/bootstrap/cache/*
/public/hot
/public/storage
/storage/*.key
Homestead.json
Homestead.yaml
auth.json

# Node.js
/node_modules
/node_modules/*
/.npm
/.pnpm
/.yarn
/yarn-error.log
package-lock.json
pnpm-lock.json
yarn.lock

# Frontend сборка
/public/build
/dist
/.vite-inspect

# Docker данные
/docker/mysql/*
/docker/redis/*
!/docker/nginx/default.conf  # Сохраняем только конфиг Nginx

# Временные файлы Docker
docker-compose.override.yml
*.dockerignore

# Vite кэш
.cache/
.temp/

# Тесты
/coverage
.nyc_output

# Документация
/docs/_build/

/.history
/*.code-workspace